# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vercel

# Environment variables
.env


# User Admin
# neonprint29@system.com
# neonprint29!29

# User Atencion Cliente
# atencioncliente@gmail.com
# atencioncliente!29


# User  3 
# disenador3@gmail.com
# diseñador3!29

# USER COTIZADO 
# cotizador1@gmail.com
# cotizador123


# User impresor
# printer2@gmail.com
# printer123

# Delivery
# dilevery1@gmail.com
# dilevery123